<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-report-template-heading" jhiTranslate="springApp.reportTemplate.home.createOrEditLabel">Create or edit a Report Template</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.templateId" for="field_templateId">Template Id</label>
                    <input type="text" class="form-control" name="templateId" id="field_templateId"
                           formControlName="templateId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.templateName" for="field_templateName">Template Name</label>
                    <input type="text" class="form-control" name="templateName" id="field_templateName"
                           formControlName="templateName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.templateFileName" for="field_templateFileName">Template File Name</label>
                    <input type="text" class="form-control" name="templateFileName" id="field_templateFileName"
                           formControlName="templateFileName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.templateFile" for="field_templateFile">Template File</label>
                    <div>
                        <div *ngIf="editForm.get('templateFile')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('templateFileContentType')!.value, editForm.get('templateFile')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('templateFileContentType')!.value }}, {{ byteSize(editForm.get('templateFile')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({templateFile: null});editForm.patchValue({templateFileContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_templateFile" (change)="setFileData($event, 'templateFile', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="templateFile" id="field_templateFile"
                           formControlName="templateFile"/>
                    <input type="hidden" class="form-control" name="templateFileContentType" id="field_templateFileContentType"
                           formControlName="templateFileContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.effectiveDt" for="field_effectiveDt">Effective Dt</label>
                    <div class="input-group">
                        <input id="field_effectiveDt" type="text" class="form-control" name="effectiveDt" ngbDatepicker #effectiveDtDp="ngbDatepicker" formControlName="effectiveDt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="effectiveDtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.expiryDt" for="field_expiryDt">Expiry Dt</label>
                    <div class="input-group">
                        <input id="field_expiryDt" type="text" class="form-control" name="expiryDt" ngbDatepicker #expiryDtDp="ngbDatepicker" formControlName="expiryDt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiryDtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.createdDt" for="field_createdDt">Created Dt</label>
                    <div class="input-group">
                        <input id="field_createdDt" type="text" class="form-control" name="createdDt" ngbDatepicker #createdDtDp="ngbDatepicker" formControlName="createdDt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.updatedDt" for="field_updatedDt">Updated Dt</label>
                    <div class="input-group">
                        <input id="field_updatedDt" type="text" class="form-control" name="updatedDt" ngbDatepicker #updatedDtDp="ngbDatepicker" formControlName="updatedDt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedDtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springApp.reportTemplate.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
